<%= render "shared/error_messages", object: @listing %>
<% provide(:button_text, "Edit Listing") %>

<div id="new-listing-form">
  <%= render "form" %>
  <div>
    <%= f.label :remove_place_photo, "Remove your Photo" %>
    <%= f.check_box :remove_place_photo %>
  </div>
</div>
