- @listings.each do |listing|
  = link_to listing.title, listing_path(listing), class: "listings-title"
  .block.block__image
    = image_tag listing.photos[0], class: "image image--fluid image--primary"
