- @listings.each do |listing|
  .slider-container
    = image_tag listing.photos[0], class: "image image--fluid image--primary"
  = link_to listing.title, listing_path(listing), class: "listings-title"
