%section
  .title
    %h3 You can call it
    %h1 HOME
%section
  .parallax-index-one
    #search-form
      = render "search/search_form"
%p  
%h3 Listings
%p  
#listings
  = render 'listings'
.pagination.center
  = paginate @listings, remote: true, :left => 1, :right => 3
%p  
%section
  .parallax-index-two
