  <section>
    <div class="title">
      <h3>You can call it</h3>
      <h1>HOME</h1>
    </div>
  </section>

  <section>
    <div class="parallax-index-one">
      <div id="search">
        <h2>IT ALL BEGINS HERE</h2>
      </div>
    </div>
  </section>

  <p>&nbsp;</p>

  <section>
    <div class="block">
      <p><span class="first-character sc">L</span>"orem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum."</p>
        <p class="line-break margin-top-10"></p>
        <p class="margin-top-10">"Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
          non proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum."
      </p>
    </div>
  </section>

  <p>&nbsp;</p>

  <section>
    <div class="parallax-index-three">
      <h2>BE INSPIRED</h2>
    </div>
  </section>

  <p>&nbsp;</p>

  <div>
    <h3>Listings Example</h3>
    <%= render "search/search_form" %>
  </div>

<p>&nbsp;</p>

<div id="listings"><%= render 'listings' %></div>

<div class="pagination center">
  <%= paginate @listings, :left => 1, :right => 3 %>
</div>

  <section>
    <div class="parallax-index-two">
      <h2>ANYWHERE</h2>
    </div>
  </section>
