.parallax-container
  .parallax--content
    .search
      = render "search/search_form"

    %p.block  
    %h3.section-title Listings

    .listings-content
      = render 'listings'

    .pagination
      = paginate @listings, remote: true
