.search
  = render "search/search_form"

%p.block  
%h3.section-title Listings
%p.block  

.listings-content
  = render 'listings'

.pagination.center
  = paginate @listings, remote: true, :left => 1, :right => 3

