<section>
  <div class="title">
    <h3>You can call it</h3>
    <h1>HOME</h1>
  </div>
</section>

<section>
  <div class="parallax-index-one">
    <div id="search-form">
      <%= render "search/search_form" %>
    </div>
  </div>
</section>

<p>&nbsp;</p>

<h3>Listings</h3>

<p>&nbsp;</p>

<div id="listings">
    <%= render 'listings' %>
    <div class="fill"></div>
</div>

<div class="pagination center">
  <%= paginate @listings, :left => 1, :right => 3 %>
</div>

<p>&nbsp;</p>

<section>
  <div class="parallax-index-two">
    </div>
</section>
