-# TODO figure out how to generalize the form errors.
-# - content_for :error_messages do
  -# - if object.errors.any?
    -# %p
      -# = pluralize(object.errors.count, "error")
      -# prevented the form from being saved:
    -# %ul
      -# - object.errors.full_messages.each do |msg|
        -# %li= msg
