////////////////////
// Date Objects 
////////////////////

.date
  display: block
  margin-bottom: 1em
  position: relative
  +clearfix
  &:before
    content: ""
    border: $color-secondary solid 1em
      left-color: transparent 
      right-width: 0.5em 
      left-width: 0.5em
    display: inline-block
    float: left
    margin-top: .35em

  &__content
    background:
      color: $color-secondary
    box-shadow: -1px 0 0 rgba(0,0,0,0.09)
    display: inline-block
    float: left
    padding: .25em 2em .25em 1em
