////////////////////
// Heading Objects
////////////////////

.heading
  text-align: center
  padding: 10em 0em 2em 0em
  height: 90vh
  @media #{$medium-up}
    // TODO fix for ipad vh
    padding: 4em 0em 2em 0em
    height: 24vh
  +clearfix
