////////////////////
// Heading Objects
////////////////////

.heading
  text-align: center
  padding-top: 12em
  height: 90vh
  @media #{$medium-up}
    // TODO fix for ipad vh
    padding: 4em 0em 2em 0em
    height: 24vh
  // +clearfix
  &__show
    margin: -9em 0.4em -10em 0.4em
    padding-top: 0
    h1
      font-size: $h4-size !important
      padding: 0em 0em 2em .5em
      word-wrap: break-word
