////////////////////
// Image Objects
////////////////////

.image
  img
    width: 100%
    @media #{$medium-up}
    @media #{$large-up}
    @media #{$xlarge-up}
    @media #{$xxlarge-up}
  // .image--fluid
  &--fluid
    max-width: 100%

  &--preview
    margin:
      left: $rhythm-horizontal
    max-height: 5em
  &--show
    margin-top: 10em
    padding: 0em 1.2em 0em 1.2em
    @media #{$medium-up}
      width: 41em
      max-width: 100%
    @media #{$large-up}
      width: 55em
      max-width: 100%
    @media #{$xlarge-up}
      width: 70em
      max-width: 100%
    @media #{$xxlarge-up}
