////////////////////
// Image Objects
////////////////////

.image
  // .image--fluid
  &--fluid
    max-width: 100%

  &--preview
    margin:
      left: $rhythm-horizontal
    max-height: 5em
  &--show
    margin-top: 10em
    padding: 0em 1.2em 0em 1.2em
