////////////////////
// Search Objects
////////////////////

.search
  width: 100%
  padding: 3em 0em 8em 0em
  @media #{$medium-up}
    width: 75%
    margin-left: 11%
  // margin: 0
  // .search__input
  &__input
    background: transparent
    // color: $white
    display: block
    float: left
    margin: 0
    // width: 85%
  input
    width: 80%
    border-right: 0


  // .search__icon
  &__icon
    display: block
    height: 1.5em

  // .search__button
  .search__button
    background-color: transparent
    color: $white
    float: right
    width: 20%
    height: 3em
    border: 1px solid $white
    border-radius: 0 3px 3px 0
    outline-color: $white
    outline-width: thin
    &:hover
      background-color: $white
      color: $black
    @media #{$medium-up}
      height: 3.4em
