.form-wrapper.form-wrapper__datepicker
  %p.text-align--center Choose your dates to reserve this place!

  = form_for [@listing, @reservation] do |f|
    .date-wrapper
      = f.text_field :check_in, placeholder: "CHECK IN", class: "calendar datepicker"
    .date-wrapper.date-wrapper__right
      = f.text_field :check_out, placeholder: "CHECK OUT", class: "calendar datepicker"

    .form-wrapper--with-button.form-wrapper--with-button__center
      = f.button "Submit", method: :post


