////////////////////
// Default Footer Settings
////////////////////

$footer-background: $off-white
$footer-font-size: .875em

$footer-background-nav: $off-white
$footer-color-nav: $grey

$footer-background-secondary: $color-inverted
$footer-color-secondary: $space
$footer-font-family-secondary: $font-family-secondary
