////////////////////
// Primary Footer
////////////////////

.footer

  // .footer--primary
  &--primary
    // background: $footer-background
    background: #DFE7E9
    position: relative
    text-align: center
    width: 100%
    +clearfix
    @media #{$large-up}
      text-align: left

    // .footer--primary__nav
    &__nav
      background: #B2CED2 // light green, footer left side
      color: $footer-color-nav
      float: left
      position: relative
      @media #{$large-up}
        bottom: 0
        left: 0
        position: absolute
        top: 0
        width: 69%

    &__social
      margin: 0 auto
      transform: translate(0%, 150%)
      letter-spacing: 3em
      background: $white
      padding: 0
      @media #{$medium-up}
        margin-left: 70%
      @media #{$large-up}
        bottom: auto
        position: absolute
        right: 0
        top: 50%
        transform: translate(50%, -50%)
        padding: 1em

    // .footer--primary__content
    &__contact
      width: 100%
      @media #{$large-up}
        float: right
        padding-left: 5em
        width: 31%
      @media #{$xlarge-up}
        padding-left: 7em

  &--secondary
    background: $footer-background
    color: $grey
    font:
      family: $footer-font-family-secondary
      weight: $font-weight-light
    padding: $rhythm-vertical
    text-align: center


  ////////////////////
  // Footer Nav
  ////////////////////

.footer-nav
  $nav: &

  ////////////////////
  // Primary Foooter Nav
  ////////////////////

  // .nav--primary
  &--primary
    float: left
    overflow: visible
    text-align: center
    width: inherit

    // .nav--primary__collapse
    &__collapse
      background: rgba($header-secondary-background, .95)
      border:
        top: 1px solid darken($header-secondary-background, 5%)
      clear: both
      max-height: 0
      overflow: hidden
      text-align: center
      transition: max-height 0.5s $transition-easing
      width: 100%
      @media #{$large-up}
        background: $header-secondary-background
        border-top: none
        clear: none
        float: right
        max-height: none
        overflow: visible
        position: relative
        top: auto
        width: auto
      &--active
        overflow: none
        max-height: 1200px


    // .nav--primary__right
    &__right
      @media #{$large-up}
        float: right

    // .nav--primary__item
    &__item
      color: $color-inverted
      display: block
      overflow: hidden
      text-align: center
      width: 100%
      @media #{$large-up}
        display: inline-block
        margin: 0 1%
        overflow: visible
        width: auto
        &:hover, &:active, &:focus
          background: $header-primary-background-hover
          color: $color-primary
          overflow: visible
        &:last-child
          #{$nav}--dropdown
            right: 0
            left: auto
        &--home
          margin: 0 ($rhythm-horizontal * 1.2)

      &--toggle
        display: block
        vertical-align: middle
        @media #{$large-up}
          display: none

      // .nav--primary__item--left
      &--left
        display: inline-block
        float: left
        text-align: center
        width: 50%
        @media #{$large-up}
          width: auto
          transition: none

      // .nav--primary__item--logo
      &--logo
        margin: 0
        max-width: 200px
        width: 100%
        z-index: 4
        @media #{$large-up}
          max-width: 50%
        &:hover, &:active, &:focus
          background: none

      &--landing-page-logo
        @media #{$large-up}
          float: left
          margin-left: 25%

    // .nav--primary__link
    &__link
      display: inherit
      padding: $rhythm-vertical $rhythm-horizontal
      vertical-align: middle
      &:hover, &:active, &:focus
        background-color: $header-primary-background-hover
      @media #{$large-up}
        &:hover, &:active, &:focus
          + #{$nav}--dropdown
            max-height: none
      @media #{$xlarge-up}
        padding: $rhythm-vertical ($rhythm-horizontal * 2)
      &--home
        @media #{$large-up}
          padding: $rhythm-vertical ($rhythm-horizontal * 1.2)


      // .nav--primary__link--logo
      &--logo
        background: asset_url("berggruen-institute-logo-stacked.svg")
          position: 1em center
          repeat: no-repeat
          size: 180px
        text-indent: -9999px
        width: 100%
        &:hover, &:active, &:focus
          background-color: transparent
        @media #{$large-up}
          background:
            image: asset_url("berggruen-institute-logo.svg")
            position: center center
            size: 80%
          margin-left: 0

      &--user
        padding: $rhythm

      &--toggle
        background: $header-secondary-background
        //font-size: 1.25em
        //padding: $rhythm

  ////////////////////
  // Secondary Nav
  ////////////////////

  // .nav--secondary
  &--secondary
    font-size: 1em
    width: 100%

    // .nav--secondary__block
    &__block
      margin: ($rhythm-vertical * 2) 0
      width: 100%
      @media #{$medium-up}
        float: left
        width: 33.333333%
        margin: 2% 0% 0% 0%
        &:last-child
          margin: 2% 0% 0% 0%
      @media #{$large-up}
        width: 25%
        margin: -3% 8% 0% 20%
        &:last-child
          margin-right: 0
          // margin-left: -1.5em
          margin-top: -1em
      @media #{$xlarge-up}
        margin: -2% 8% 0% 20%

    // .nav--secondary__title
    &__title
      color: $color-inverted
      font:
        family: $font-family
        size: 1.125em
        weight: $font-weight-light
      margin: 0
      text-transform: uppercase
      @media #{$medium-up}
      @media #{$large-up}
        &.h3
          padding-top: 0
          width: 0
        &.h5

    &__subtitle
      color: $color-subaccent
      line-height: 1
      text-transform: uppercase

    // .nav--secondary__item
    &__item
      padding: .25em 0


    // .nav--secondary__link
    &__link
      color: $color-subaccent
      &:hover, &:active, &:focus
        color: $color-inverted

  ////////////////////
  // Social Nav
  ////////////////////

  // .nav--social
  &--social

    // .nav--social__item
    &__item
      display: inline-block
      fill: $silver
      &:active, &:focus, &:hover
        fill: $color-accent
      @media #{$large-up}
        display: block

    // .nav--social__icon
    &__icon
      display: block
      height: 2em
      margin: 1em
      padding: 0.2em
      width: 2em
