.listings-content
  background: $white
  padding: 0em 1em 0em 1em
  font-weight: 300
  letter-spacing: 2px
  text-align: center
  img
    width: 100%
  .listings-title
    line-height: 3em
    @media #{$medium-up}
      line-height: 5em
