////////////////////
// Notifier Objects
////////////////////

+notifier-generator

#error_explanation
  background-color: $color-alert
  letter-spacing: .1em
  padding: 1em
  margin-top: 2em
  margin-bottom: 10em
  @media #{$medium-up}
    width: 100%
    margin-top: -10em
    margin-bottom: 10em
  & h2
    font-size: 87%
    letter-spacing: .1em
