.parallax-wrapper
  font-weight: 400
  font-family: $font-family
  text-transform: uppercase
  h1
    font-size: 250%
    margin: .8em 0em 0em 0em
    letter-spacing: 8px
  h2
    letter-spacing: 10px
    opacity: .8
  h3
    font-size: 110%
    line-height: 0
    letter-spacing: 7px
    font-weight: 350
    text-transform: uppercase
  .block-gray
    background: $grey
  p
    font-family: $font-family-secondary
    font-size: 87.5%
    line-height: 24px
    display: block
    margin: auto

.parallax--content
  overflow: hidden
  // position: relative
  width: 100%
  background-image: image-url("project4.jpg")
  background-attachment: fixed
  background-size: cover
  background-position: top center
  margin-top: 2em

.section-title
  text-align: center
  background: $white

.block
  background: $white
  padding: 10px
  width: 100%
  margin: 0 auto
  text-align: justify
