#new-listing-form {
  /* margin-left: 35%; */
  width: 100%;
  /* margin-top: 5%; */
  position: fixed;
}

#new-listing-form .input {
  text-align: center;
}

form {
  font-family: 'Oswald';
}

.form-1 {
  margin-left: 10em;
  width: 30%;
}

.form-2 {
  margin-left: 55%;
  width: 30%;
  margin-top: -32.2em;
}

.this-thing {
  margin-left: 17em;
  margin-bottom: 1em;
}
