/* **************************  button **************************************** */
/* ************************************************************************* */


.myButton {
  -moz-box-shadow:inset 0px -2px 6px -2px #0e0f0e;
  -webkit-box-shadow:inset 0px -2px 6px -2px #0e0f0e;
  box-shadow:inset 0px -2px 6px -2px #0e0f0e;
  background-color:transparent;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-family:Verdana;
  font-size:14px;
  font-style:italic;
  padding:6px 9px;
  text-decoration:none;
  text-shadow:-4px 3px 0px #ffffff;
}
.myButton:hover {
  background-color:transparent;
}
.myButton:active {
  position:relative;
  top:1px;
}

/* **************************profile**************************************** */
/* ************************************************************************* */


#parallax-world h4 {
  font-family:'Oswald', sans-serif;
  font-size:14px;
  line-height:0;
  font-weight:300;
  letter-spacing:8px;
  text-transform: uppercase;
  color:black;
  text-align: left;
  margin-top: 1%;
}

table {
  margin-right: auto;
  margin-left: auto;
}
/* #profile-info {
margin-top: 50px;
margin-left: auto;
margin-right: auto;
}


.profile {
width: 100%;
border-radius: 100px;
display: block;
margin-left: auto;
margin-right: auto;
float: left;
}

#username {
text-align: center;
}

.large-4 {

}
*/
/******************************************************************************/
/******************** photo in the show page **********************************/
/******************************************************************************/

.place-photo-show {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
