.block-show {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 52.5% !important;
}

#button-reservation {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: true;
  display:block;
  margin-top: 6%;
  width: 56%;
  cursor: pointer;
}

.google-maps {
  position: relative;
  padding-bottom: 36%;
  height: 0;
  overflow: hidden;
}

iframe {
  position: absolute;
  width: 100%;
}

.slick-slide img {
  margin-left: auto;
  margin-right: auto;
}

.slick-dots {
  margin-left: 0px !important;
}

.slick-next:before, .slick-prev:before {
  color: black !important;
}
