/* ************************************************************************* */
/* **************************profile**************************************** */
/* ************************************************************************* */

/* #profile-info {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}


.profile {
  width: 100%;
  border-radius: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

#username {
  text-align: center;
}

.large-4 {

}
 */
/******************************************************************************/
/******************** photo in the show page **********************************/
/******************************************************************************/

.place-photo-show {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/******************************************************************************/
/* *******************new reservation form **************************/
/******************************************************************************/



/******************************************************************************/
/*   Thumbnails section   */
/******************************************************************************/
/*  .column, .one-col {
 width: 32%;
 float: left;
 margin-right: 2.5%;
 display: inline;
 font-size: 16px;
 background-color: #fd2900;
} */

.section-thumbnails {
  font-family:'Oswald', sans-serif;
}

#gallery-2 {
  margin: auto;
}

#gallery-2 .gallery-item {
  float: left;
  margin-top: 10px;
  text-align: center;
  width: 25%;
}

#gallery-2 img {
  border: 2px solid #cfcfcf;
}

#gallery-2 .gallery-caption {
  margin-left: 0;
}

/******************************************************************************/

/* ************************************************************************* */
@import url(//fonts.googleapis.com/css?family=Oswald:400,300);
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,300italic,400italic);
/*************************** Override site ***************************/
/******************************************************************************/
#main {width: 100%; padding:0;}
.content-asset p {margin:0 auto;}
.breadcrumb {display:none;}

/* **************************Helpers ***************************/
/******************************************************************************/
.margin-top-10 {padding-top:10px;}
.margin-bot-10 {padding-bottom:10px;}

/*************************** Typography ***************************/
/******************************************************************************/
#parallax-world h1 {
  font-family:'Oswald', sans-serif;
  font-size:24px;
  font-weight:400;
  text-transform: uppercase;
  color:black;
  padding:0;
  margin:0;
}

#parallax-world h2 {
  font-family:'Oswald', sans-serif;
  font-size:70px;
  letter-spacing:10px;
  text-align:center;
  color:white;
  font-weight:400;
  text-transform:uppercase;
  z-index:10;
  opacity:.8;
}

#parallax-world h3 {
  font-family:'Oswald', sans-serif;
  font-size:14px;
  line-height:0;
  font-weight:400;
  letter-spacing:8px;
  text-transform: uppercase;
  color:black;
  text-align: center;
}

#parallax-world p {
  font-family:'Source Sans Pro', sans-serif;
  font-weight:400;
  font-size:14px;
  line-height:24px;
}

.first-character {
  font-weight:400;
  float: left;
  font-size: 84px;
  line-height: 64px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: 'Source Sans Pro', sans-serif;
}

.sc {color: #3b8595;}
.ny {color: #3d3c3a;}
.atw {color: #c48660;}

/*************************** Section - Title ***************************/
/******************************************************************************/
#parallax-world .title {
  background: white;
  padding: 60px;
  margin:0 auto;
  text-align:center;
}
#parallax-world .title h1 {
  font-size:35px;
  letter-spacing:8px;
}

/*************************** Section - Block ************************** */
/******************************************************************************/
#parallax-world .block {
  background: white;
  padding: 60px;
  width:820px;
  margin:0 auto;
  text-align:justify;
}

#parallax-world .block-gray {
  background: #f2f2f2;
  padding: 60px;
}

#parallax-world .section-overlay-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.70;
}

/*************************** Section - Parallax ***************************/
/******************************************************************************/
#parallax-world .parallax-one {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: image-url('project3.jpg');
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

#parallax-world .parallax-two {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: image-url('project4.jpg');
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#parallax-world .parallax-three {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: image-url('project6.jpeg');
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/******************************************************************************/

/*************************** Extras ***************************/
/******************************************************************************/
#parallax-world .line-break {
  border-bottom: 1px solid black;
  width: 150px;
  margin:0 auto;
}

/*************************** Media Queries ***************************/
/******************************************************************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world .block {
    padding: 40px;
    width:620px;
  }
}
@media screen and (max-width: 767px) {
  #parallax-world .block {
    padding: 30px;
    width:420px;
  }
  #parallax-world h2 {
    font-size:30px;
  }
  #parallax-world .block {
    padding: 30px;
  }
  #parallax-world .parallax-one, #parallax-world .parallax-two, #parallax-world .parallax-three {
    padding-top:100px;
    padding-bottom:100px;
  }
}
@media screen and (max-width: 479px) {
  #parallax-world .block {
    padding: 30px 15px;
    width:290px;
  }
}
